
		body{background-colour:lightblue;

		h1{
			color: red;
			text-align: center;
		}
		
		p{
			font-family: "Arial";
		color:blue;
		text-align: center;
		}
	
		h2{			color: red;
			text-align: center;
		}
		
		p{
			font-family: "Comic Sans MS";
		color:pink;
		text-align: center;
		}

		p1{font-family: "Comic Sans MS";
		color:purple;
		text-align: left;}}

				</h2></style>